td #{id}
td #{name}
td #{calories}
td #{carbs}
td #{proteins}
td
    a(href=Routes.food_path(id))
        |Show
td
    a(href=Routes.edit_food_path(id))
        |Edit
td
    a.destroy(href='#')
        |Destroy